.form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 112rem;
  padding-top: 2.4rem;
}

.auth-form {
  margin-top: 4rem;
  border: 1px solid var(--border-primary);
  border-radius: 11px;
  padding: 2.4rem;
  width: 100%;

  h1 {
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--text-primary);
  }

  .forget-password {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-primary);
    margin-top: 2.4rem;

    &:hover {
      color: var(--text-link);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-two-col {
    display: grid;
    gap: 3.2rem;
    align-items: start;
    grid-template-columns: 1fr 1fr;

    @include respond(tab-port) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }

  .flex-three-col {
    display: grid;
    gap: 3.2rem;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;

    @include respond(tab-port) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }

  .field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;

    label {
      font-family: Jost;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.4;

      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      color: var(--text-primary);

      h4 {
        font-size: 1.2rem;
        font-weight: 600;
        color: currentColor;
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--text-secondary);
      }
    }

    .field-input {
      padding: 0.8rem 1.6rem;

      font-size: 1.6rem;
      font-weight: 400;
      line-height: 24px;
      text-align: left;

      border-radius: 8px;
      border: 1px solid var(--border-primary);
      transition: all 0.3s;
      background-color: var(--bg-primary);
      color: var(--text-primary);

      &:focus {
        outline: none;
        box-shadow: 0px 1px 2px 0px var(--shadow-primary);

        &::placeholder {
          color: var(--text-secondary);
        }
      }
    }

    .field-password {
      display: flex;
      align-items: center;

      .field-input {
        width: 100%;
        padding-right: 4rem;
      }

      .toggle-password {
        cursor: pointer;
        font-size: 1.6rem;
        margin-left: -3.6rem;
        z-index: 99;
      }
    }

    .field-dropdown {
      padding: 0.8rem 1.6rem;

      font-size: 1.6rem;
      font-weight: 400;
      line-height: 24px;
      text-align: left;

      border-radius: 8px;
      border: 1px solid var(--border-primary);
      transition: all 0.3s;
      background-color: var(--bg-primary);
      color: var(--text-secondary);

      &:focus {
        outline: none;
        box-shadow: 0px 1px 2px 0px var(--shadow-primary);

        &::placeholder {
          color: var(--text-secondary);
        }
      }
    }

    .field-textarea {
      padding: 0.8rem 1.6rem;

      font-size: 1.6rem;
      font-weight: 400;
      line-height: 24px;
      text-align: left;

      border-radius: 8px;
      border: 1px solid var(--border-primary);
      transition: all 0.3s;
      background-color: var(--bg-primary);
      color: var(--text-primary);

      &:focus {
        outline: none;
        box-shadow: 0px 1px 2px 0px var(--shadow-primary);
      }

      &::placeholder {
        color: var(--text-secondary);
      }
    }

    .field-rating {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-top: 1.2rem;

      .p-rating-item {
        color: var(--text-secondary);
      }

      .p-rating-item-active,
      .p-focus {
        color: var(--text-secondary);
      }
      .p-rating-icon {
        height: 3.2rem;
        width: 3.2rem;
        font-size: 3.2rem;
      }
    }

    .field-input.p-invalid,
    .field-dropdown.p-invalid,
    .field-textarea.p-invalid,
    .field-file.p-invalid {
      border: 1px solid var(--danger-color) !important;
    }

    .p-error {
      color: var(--danger-color);
      font-size: 0.875rem;
    }
  }

  .btn-container {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    align-items: center;

    .btn {
      flex: 1 0 auto;
    }

    p {
      margin-top: 2.4rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--text-secondary);
    }
  }

  .text-link {
    color: var(--text-link);
  }

  .seperator {
    flex-grow: 1;
    border-top: 1px solid var(--border-primary);
  }
}
